body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1060px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:60px;
  background:inherit;
  background-color:rgba(244, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:60px;
}
#u955 {
  position:absolute;
  left:2px;
  top:22px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:940px;
  background:inherit;
  background-color:rgba(45, 48, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  position:absolute;
  left:0px;
  top:60px;
  width:160px;
  height:940px;
}
#u957 {
  position:absolute;
  left:2px;
  top:462px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#BEC2C9;
}
#u958 {
  position:absolute;
  left:58px;
  top:153px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#BEC2C9;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#BEC2C9;
}
#u960 {
  position:absolute;
  left:58px;
  top:227px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#BEC2C9;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u963 {
  position:absolute;
  left:215px;
  top:27px;
  width:75px;
  height:16px;
  color:#000000;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#BEC2C9;
}
#u965 {
  position:absolute;
  left:58px;
  top:350px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#BEC2C9;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:60px;
  background:inherit;
  background-color:rgba(45, 48, 55, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u967 {
  position:absolute;
  left:30px;
  top:1000px;
  width:1030px;
  height:60px;
}
#u968 {
  position:absolute;
  left:2px;
  top:22px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(45, 48, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u969 {
  position:absolute;
  left:520px;
  top:1009px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u971 {
  position:absolute;
  left:533px;
  top:1036px;
  width:29px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:2px;
}
#u973 {
  position:absolute;
  left:505px;
  top:1032px;
  width:90px;
  height:1px;
  color:#999999;
}
#u974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#BEC2C9;
}
#u975 {
  position:absolute;
  left:58px;
  top:288px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#BEC2C9;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u977 {
  position:absolute;
  left:17px;
  top:142px;
  width:36px;
  height:36px;
  font-size:10px;
}
#u978 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u979 {
  position:absolute;
  left:17px;
  top:278px;
  width:36px;
  height:36px;
}
#u980 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u981 {
  position:absolute;
  left:17px;
  top:340px;
  width:36px;
  height:36px;
}
#u982 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u983 {
  position:absolute;
  left:17px;
  top:217px;
  width:36px;
  height:36px;
}
#u984 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u985 {
  position:absolute;
  left:71px;
  top:11px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u985_ann {
  position:absolute;
  left:193px;
  top:7px;
  width:1px;
  height:1px;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:53px;
}
#u987 {
  position:absolute;
  left:8px;
  top:5px;
  width:54px;
  height:53px;
}
#u988 {
  position:absolute;
  left:2px;
  top:18px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#BEC2C9;
}
#u989 {
  position:absolute;
  left:58px;
  top:450px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#BEC2C9;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u991 {
  position:absolute;
  left:17px;
  top:440px;
  width:36px;
  height:36px;
}
#u992 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#BEC2C9;
}
#u993 {
  position:absolute;
  left:58px;
  top:510px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#BEC2C9;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u995 {
  position:absolute;
  left:17px;
  top:500px;
  width:36px;
  height:36px;
}
#u996 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:2px;
}
#u997 {
  position:absolute;
  left:10px;
  top:197px;
  width:140px;
  height:1px;
}
#u998 {
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:2px;
}
#u999 {
  position:absolute;
  left:10px;
  top:409px;
  width:140px;
  height:1px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1001 {
  position:absolute;
  left:160px;
  top:69px;
  width:900px;
  height:51px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:18px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#003037;
}
#u1003 {
  position:absolute;
  left:170px;
  top:82px;
  width:85px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#003037;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:870px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(249, 249, 249, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1005 {
  position:absolute;
  left:160px;
  top:130px;
  width:900px;
  height:870px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:427px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1007 {
  position:absolute;
  left:160px;
  top:130px;
  width:900px;
  height:90px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:37px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009 {
  position:absolute;
  left:170px;
  top:142px;
  width:95px;
  height:25px;
}
#u1009_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1010 {
  position:absolute;
  left:305px;
  top:142px;
  width:95px;
  height:25px;
}
#u1010_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:2px;
}
#u1011 {
  position:absolute;
  left:275px;
  top:154px;
  width:15px;
  height:1px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:-8px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013 {
  position:absolute;
  left:435px;
  top:144px;
  width:97px;
  height:22px;
}
#u1013_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1013_input:disabled {
  color:grayText;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1014 {
  position:absolute;
  left:880px;
  top:144px;
  width:39px;
  height:22px;
  text-align:center;
}
#u1014_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1014.mouseOver {
}
#u1014_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1014.mouseDown {
}
#u1015 {
  position:absolute;
  left:5px;
  top:3px;
  width:29px;
  white-space:nowrap;
}
#u1016 {
  position:absolute;
  left:170px;
  top:185px;
  width:116px;
  height:22px;
}
#u1016_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1016_input:disabled {
  color:grayText;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1017 {
  position:absolute;
  left:880px;
  top:185px;
  width:39px;
  height:22px;
  text-align:center;
}
#u1017_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1017.mouseOver {
}
#u1017_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1017.mouseDown {
}
#u1018 {
  position:absolute;
  left:5px;
  top:3px;
  width:29px;
  white-space:nowrap;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1020 {
  position:absolute;
  left:296px;
  top:185px;
  width:566px;
  height:22px;
}
#u1020_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(207, 209, 210, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1020.selected {
}
#u1020_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1020.disabled {
}
#u1021 {
  position:absolute;
  left:2px;
  top:3px;
  width:562px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022 {
  position:absolute;
  left:309px;
  top:187px;
  width:540px;
  height:18px;
}
#u1022_input {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1023 {
  position:absolute;
  left:170px;
  top:240px;
  width:772px;
  height:65px;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u1026 {
  position:absolute;
  left:101px;
  top:0px;
  width:96px;
  height:30px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1028 {
  position:absolute;
  left:197px;
  top:0px;
  width:101px;
  height:30px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1030 {
  position:absolute;
  left:298px;
  top:0px;
  width:87px;
  height:30px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1032 {
  position:absolute;
  left:385px;
  top:0px;
  width:101px;
  height:30px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1034 {
  position:absolute;
  left:486px;
  top:0px;
  width:101px;
  height:30px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u1036 {
  position:absolute;
  left:587px;
  top:0px;
  width:85px;
  height:30px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1038 {
  position:absolute;
  left:672px;
  top:0px;
  width:95px;
  height:30px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:30px;
  width:101px;
  height:30px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u1042 {
  position:absolute;
  left:101px;
  top:30px;
  width:96px;
  height:30px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1044 {
  position:absolute;
  left:197px;
  top:30px;
  width:101px;
  height:30px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1046 {
  position:absolute;
  left:298px;
  top:30px;
  width:87px;
  height:30px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1048 {
  position:absolute;
  left:385px;
  top:30px;
  width:101px;
  height:30px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1050 {
  position:absolute;
  left:486px;
  top:30px;
  width:101px;
  height:30px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u1052 {
  position:absolute;
  left:587px;
  top:30px;
  width:85px;
  height:30px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1054 {
  position:absolute;
  left:672px;
  top:30px;
  width:95px;
  height:30px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u1056 {
  position:absolute;
  left:188px;
  top:247px;
  width:20px;
  height:16px;
}
#u1057 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1058 {
  position:absolute;
  left:555px;
  top:144px;
  width:120px;
  height:22px;
}
#u1058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1058_input:disabled {
  color:grayText;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1060 {
  position:absolute;
  left:693px;
  top:144px;
  width:73px;
  height:22px;
}
#u1060_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(207, 209, 210, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1060.selected {
}
#u1060_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1060.disabled {
}
#u1061 {
  position:absolute;
  left:2px;
  top:3px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062 {
  position:absolute;
  left:695px;
  top:146px;
  width:70px;
  height:18px;
}
#u1062_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1064 {
  position:absolute;
  left:790px;
  top:144px;
  width:73px;
  height:22px;
}
#u1064_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(207, 209, 210, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1064.selected {
}
#u1064_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1064.disabled {
}
#u1065 {
  position:absolute;
  left:2px;
  top:3px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066 {
  position:absolute;
  left:792px;
  top:146px;
  width:70px;
  height:18px;
}
#u1066_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1067 {
  position:absolute;
  left:188px;
  top:277px;
  width:20px;
  height:16px;
}
#u1068 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
